@import './normalize.scss';
@import './variables.scss';

body,
.MuiTableCell-root {
  font-family: $font-family;
  background-color: white;

  .app-root {
    height: 100vh;
  }
}

nav {
  .appBar-header {
    background-color: $light-gray;
  }

  .navbar-items-list {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding-inline-start: 15px;
    padding-inline-end: 15px;

    margin: 20px 0;

    li {
      list-style: none;
    }

    li#item-logo {
      flex: 0 1 15%;
      .logo {
        img {
          width: 50px;
        }
      }
    }

    li#item-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1;

      h2,
      h3,
      h4 {
        color: $dark-gray;
        font-weight: 600;
      }
    }

    li#item-welcome-user {
      flex-basis: 15%;
      flex-shrink: 1;
      justify-content: flex-end;
      align-items: center;
      display: flex;
    }
  }
}

.page {
  .page-title-header {
    display: flex;
    justify-content: center;
  }
}

.home-page,
.details-page,
.profile-page {
  font-size: 18px;
}

.home-page {
  .earthquakes-table-container,
  .earthquakes-table-footer {
    max-width: 800px;
    margin: 0 auto;

    .MuiTableCell-root,
    .MuiTypography-body2,
    .MuiTypography-root,
    .MuiInputBase-root {
      font-family: $font-family;
      border-bottom: 0;
      font-size: 18px;
    }

    tbody {
      .MuiTableCell-root {
        font-weight: 700;
      }
    }
  }
}

.details-page {
  .page-title-header {
    justify-content: inherit;
  }
}

.profile-page {
  .profile-wrapper {
    display: flex;
    flex-direction: row;
  }
  section.image-section {
    img {
      width: 225px;
    }
  }
  section.data-chart-section {
    ul.profile-list {
      margin: 0 0 0 20px;

      li.detail-item {
        font-weight: 600;
      }
      li.detail-item.detail-value {
        color: $dark-gray;
      }
    }
  }
}
