// Color palette: https://coolors.co/ededed-777777-444444-0011bb-5e5e5e
$light-gray: #ededed;
$dark-gray: #777777;
$onyx-gray: #444444;
$royal-trypan-blue: #0011bb;
$purple: #6600cc;


$font-family: sans-serif;

// :export {
//   primaryColor: $primary-color;
//   backgroundColor: $background-color;
//   padding: $padding;
// }